body, html {
    height: 100%;
}

.waves {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height:50vh;
    background: #3f81b3 url(https://source.unsplash.com/DSwBHyWKiVw/1280x720) no-repeat center;
    background-size: cover;
    overflow: hidden;
    width:100%;
}

/* Place text in the middle of the image */
.btnAlignment {
    align-self: left;
    margin-left: auto;
}

.text{
	text-align: justify;
	padding-top:20px;
	padding-right:200px;
    padding-left:200px;
	font-size: large;
	font-family: "Times New Roman", Times, serif;
	text-indent: 50px;
}

.footer {
 position:absolute;

  height:100px;
  width: 100%;
  background-color: #004d80;
  color: white;
  text-align: center;
  margin-bottom:0;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #568e8f;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: white;
  background-color:#4d7e80;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

    .openbtn:hover {
        background-color: #444;
    }
 a:link {
  color:#d4f7d4; 
  background-color: transparent; 
  text-decoration: none;
  float:right;
}

a:visited {
  color:#d4f7d4 ;
  background-color: transparent;
  text-decoration: none;
  float:right;
}

a:hover {
    color: #559e54;
    background-color: transparent;
    text-decoration: none;
    float: right;
}

h1 {
    position: relative;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: calc(10px + 10vw);
    font-weight: 700;
    color: #f5f5f5;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    perspective: 500px;
}

    h1::before,
    h1::after {
        content: attr(aria-label);
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        text-shadow: 0.01em 0.01em 0.01em rgba(0, 0, 0, 0.3);
    }

    h1::before {
        animation: floatAbove 3.5s ease-in-out infinite;
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
    }

    h1::after {
        opacity: 0.65;
        filter: blur(0.02em);
        transform: translate(-50%, -50%) rotateX(21deg);
        animation: floatBelow 3.5s ease-in-out infinite;
        -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
    }

@keyframes floatAbove {
    50% {
        transform: translate(-50%, -60%);
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 60%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 60%);
    }
}

@keyframes floatBelow {
    50% {
        transform: translate(-50%, -60%) rotateX(10deg);
        -webkit-clip-path: polygon(0% 60%, 100% 60%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 60%, 100% 60%, 100% 100%, 0% 100%);
    }
}

